

@media(min-width:768px){

    ul.nav li:hover > ul.dropdown-menu {
        display: block;
    }
    #navbar {
        text-align: center;
    }

    .navbar-default {
        border: none;
        background-color: #fff;
    }

    .navbar-nav {
        float: none;
        margin: 0 auto;
        text-align: center;
        border-top: 1px solid #d7caa8;
        border-bottom: 1px solid #d7caa8;
    }

    .navbar-nav > li > a {
        padding: 5px 3px ;
        /*podlozno promeni kada se ubaci originalni font i velicina*/
    }

    .navbar-nav .social{
        padding: 5px 4px ;
        /*podlozno promeni kada se ubaci originalni font i velicina*/
    }



    /* END OF HEADER*/

    /* SECTION MAIN SLIDER*/

    .bxslider figure{
        width: 35%;
        float: left;
    }

    .bxslider .book-content{
        width: 65%;
        float: right;
        padding: 5px 10px;
        text-align: left;
    }

    .bxslider .book-content h3{
        margin-top: 10px;
    }

    .book-for-sale{
        padding: 10px;
    }

    .book-for-sale p{
        font-size: 12px;
    }

    .book-for-sale a{
        font-size: 14px;
    }

    .book-of-month h4{
        font-size: 12px;
    }
    /*END OF MAINSLIDER SECTION*/

    /*SECTION TABS*/

    .tabs .nav-tabs h2{
        margin-top: 0;
        margin-right: 50px;
    }

    .tabs .nav-tabs li{
        font-size: 14px;
    }

    .tabs .nav-tabs > li > a {
        padding: 10px 10px;
}
}  



@media(min-width:992px){

    .navbar-nav > li > a {
        padding: 10px 14px ;
        /*podlozno promeni kada se ubaci originalni font i velicina*/
    }

    .navbar-nav .social{
        padding: 10px 15px ;
        /*podlozno promeni kada se ubaci originalni font i velicina*/
    }

    /* END OF HEADER*/

    /* SECTION MAIN SLIDER*/

    .book-content .favorit{
        margin-right: 15px;
    }

    .book-for-sale{
        padding: 15px;
    }

    .book-for-sale p{
        font-size: 14px;
    }


    .book-for-sale a{
        font-size: 20px;
    }

    .book-of-month h4{
        font-size: 18px;
    }



}

@media(min-width:1200px){

    .navbar-nav > li > a {
        padding: 10px 24px ;
        /*podlozno promeni kada se ubaci originalni font i velicina*/
    }

    .navbar-nav .social{
        padding: 10px 25px ;
        /*podlozno promeni kada se ubaci originalni font i velicina*/
    }

    /* END OF HEADER*/

    /* SECTION MAIN SLIDER*/

    .book-for-sale a{
        font-size: 25px;
    }



}