@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .nav-justified {
        float: none!important;
        margin-top: 7.5px;
    }
    .nav-justified>li {
        float: none;
        display: block;
        width: 100%;
    }
    .nav-justified>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media(min-width:480px){
    .tab-content figure{
        position: relative;
        height: 360px;

    }

    .user-profile-tab h2{
        font-size: 30px;

    }


    /*tab3 style */

    .messages .message-sort{
        float: left;
        display: inline-block;
    }

    .messages .message-delete{
        float: right;
        display: inline-block;
    }

    .messages .media-body .user-replay .checkbox-media{
        left: 47%;
    }

    /*end of tab3 style */

    /*

    END OF USER DATA PAGE

    */

    /*
    
    AUTHOR PROFILE PAGE
    
    */

    .comment .message-nav .comment-sum{
        display: inline-block;
        float: left;
        margin-bottom: 0;
        height: 22px;
        line-height: 22px;
    }

    .comment .message-nav .message-sort{
        display: inline-block;
        float: left;
        margin-left: 50px;
    }

    .comment .media .comment-text{
        width: 80%;
        float: left;
    }
    .comment .media .like-dislike{
        width: 20%;
        float: right;
    }

    /*
    
    END OF AUTHOR PROFILE PAGE
    
    */

    /*
    
    AUTHOR DATA PAGE
    
    */

    .author-data #tab2 .modal-form .new-photo{
        left: 88%;

    }

    /*

    END OF AUTHOR DATA PAGE

    */

    /*
    
    PRODUCTS PAGE
    
    */

    .products .user-profile-tab h2{
        font-size: 22px;
    }

    .products .comment h3{
        font-size: 22px;
    }

    /*

    END OF PRODUCTS PAGE

    */

    /*
    
    BLOG PAGE
    
    */

    .blog .blog-headline h1{
        font-size: 28px;
    }
}

@media(min-width:768px){

    /* SECTION MAIN SLIDER*/

    .bxslider .slider-img{
        width: 35%;
        float: left;
    }

    .bxslider .book-content{
        width: 65%;
        float: right;
        padding: 5px 10px;
        text-align: left;
    }

    .bxslider .book-content h3{
        margin-top: 10px;
    }

    .book-for-sale{
        padding: 10px;
        margin-top: 0px;
    }

    .book-for-sale p{
        font-size: 12px;
    }

    .book-for-sale a{
        font-size: 14px;
    }

    .book-of-month h4,
    .author-of-month h4{
        font-size: 12px;

    }
    /*END OF MAIN SLIDER SECTION*/

    /*SECTION TABS*/

    .tabs{
        padding:  50px 0;
        margin-top: 70px;

    }
    .tab-content figure{
        position: relative;
        height: 260px;

    }

    .tabs .nav-tabs h2{
        margin-top: 0;
        margin-right: 50px;
    }

    .tabs .nav-tabs li{
        font-size: 14px;
    }

    .tabs .nav-tabs > li > a {
        padding: 10px 10px;
    }
    /*END OF SECTION TABS*/

    /*SECTION NEWSLETTER*/


    .newsletter .col-sm-8{
        background-color: #fff;
    }

    .newsletter .col-sm-8 article{
        background-color: #f5f1e8;
        padding: 10px 0;
    }
    /*END OF SECTION NEWSLETTER*/

    /*FOOTER*/

    footer .category,
    footer .authors,
    footer .about-us{
        width: 15%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #ababab;
        text-align: left;
    }

    footer .about-us{
        border: none;
    }

    footer .bw-logo{
        width: 15%;
        float: right;
    }

    footer .bw-logo img{
        width: 100%;
        height: auto;
    }

    footer .fb-like{
        margin-top: 35px;
    }
    /*END OF FOOTER*/

    /*

     END OF INDEX PAGE

    */

    /*
    
    SIGN IN PAGE
    
    */

    .new-password-form .btn{
        margin-left:  40%;
    }

    .create-an-account{

    }
    /*

     END OF SIGN IN PAGE

    */

    /*
    
    USER PROFILE PAGE
    
    */

    #breadcrumb li a{
        font-size: 10px;
    }

    .user-slider .about-user{
        text-align: left;
    }

    .user-slider .user-image{

        max-height: 160px;
    }

    .about-user h1{
        margin-top: 0;
    }

    .favorit-author,
    .favorit-book{
        margin-top: 50px;
    }

    .favorit-author h4,
    .favorit-book h4{
        font-size: 16px;
    }

    .favorit-book .underline {
        top: 20%;
    }
    /*

     END OF USER PROFILE PAGE

    */

    /*
    
    USER DATA PAGE
    
    */

    .user-data h2{
        text-align: left;
        margin-top: 0;
    }

    /* tab1 style */

    .user-data #tab1 label{
        text-align: left;
    }

    .user-data #tab1 input{
        width: 100%;
    }

    .user-data #tab1 textarea{
        width: 100%;

    }

    .user-data #tab1 select.birthday{
        width: 31.5%;
        font-size: 11px;
    }

    .user-data #tab1 select.city{
        width: 100%;
    }

    .user-data #tab1 .change-password{
        margin-bottom: 55px;
    }

    .user-data #tab1 a.change-photo{
        top: 43%;
        left: -50%;
    }

    .user-data #tab1 .btn {
        float: left;
    }

    /* end of tab2 style */

    /* tab5 style */

    .user-data #tab5 .top-carousel{
        padding-bottom:  25px;
    }

    .user-data #tab5 .favorit-book-wrapper{
        margin-bottom: 30px;
        margin-top: 0;
    }

    .user-data #tab5 .favorit-book-wrapper h3{
        margin-top: 0;
    }

    .user-data #tab5 .opis-wrapper figure{
        width: 40%;
        float: left;
        height: 110px;
    }

    .user-data #tab5 .opis-wrapper figure p {
        transform-origin: 50px 205px;
        font-size: 10px;
    }

    .user-data #tab5 .opis-wrapper figure p span {
        font-size: 10px;
    }

    .user-data #tab5 .opis-wrapper .description-wrapper{
        width: 60%;
        float: right;
        padding-left: 5px;
    }

    .user-data #tab5 .description-wrapper h4{
        margin-top: 0;
        font-size: 14px;
        margin-bottom: 0px;
    }

    .user-data #tab5 .description-wrapper .opis-author{
        font-size: 10px;
    }

    .user-data #tab5 .description-wrapper .stock-favorite{
        font-size: 10px;
    }

    .user-data #tab5 .description-wrapper .fa-check-circle{
        font-size: 10px;
        margin-right: 3px;
    }

    .user-data #tab5 .description-wrapper .product-price{
        height: 25px;
    }

    .user-data #tab5 .description-wrapper .price{
        font-size: 15px;
    }

    .user-data #tab5 .description-wrapper .price span{
        font-size: 12px;
    }

    .user-data #tab5 .description-wrapper .link a{
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }

    .user-data #tab5 .description-wrapper .link .trash{
        font-size: 18px;
    }

    .user-data #tab5 .description-wrapper .trash:hover{
        background-color: #f5f1e8;
        color: #fff;
    }

    .user-data #tab5 .top-carousel .opis figure{
        height: 145px;
    }

    .user-data #tab5 .top-carousel .opis figure .discount-banner,
    .user-data #tab5 .top-carousel .opis figure .new-banner{
        transform-origin: 55px 200px;
        font-size: 10px;
    }

    .user-data #tab5 .top-carousel .opis figure span{
        transform-origin: 55px 200px;
        font-size: 10px;
    }

    .user-data #tab5 .top-carousel .opis h4{
        font-size: 12px;
    }

    .user-data #tab5 .top-carousel .opis .opis-author{
        font-size: 10px;
    }

    .user-data #tab5 .top-carousel .opis .stock{
        font-size: 10px;
    }

    .user-data #tab5 .top-carousel .opis .fa-check-circle {
        margin-right: 3px;
        font-size: 10px;
    }

    .user-data #tab5 .top-carousel .opis .price{
        font-size: 15px;
    }

    .user-data #tab5 .top-carousel .opis .price span{
        font-size: 12px;
    }

    .user-data #tab5 .top-carousel .opis .old-price{
        font-size: 10px;
    }

    .user-data #tab5 .top-carousel .opis .link a {
        width: 20px;
        height: 20px;
        font-size: 10px;
        margin-right: 5px;
        line-height: 20px;
        text-align: center;
    }

    .user-data #tab5 .top-carousel .opis .link a:last-of-type {
        margin-right: 0px;
    }

    .user-data #tab5 .top-carousel .opis .link .trash{
        font-size: 18px;
    }

    /* end of tab5 style */

    /* tab7 style */

    .user-data #tab7 .col-sm-6:first-of-type{
        border-right: 2px dotted #eaead2;
    }

    .user-data #tab7 h2{
        text-align: center;
    }

    /* end of tab7 style */

    /* tab8 style */

    .user-data #tab8 h2{
        font-size: 18px;
    }

    .user-data #tab8 .instructions{
        margin-top: 70px;
    }

    .user-data #tab8 .account-status h3{
        font-size: 16px;
    }

    .user-data #tab8 .account-status p{
        font-size: 12px;
        text-align: right;
        padding: 0 8px;
    }

    .user-data #tab8 .account-status p span{
        font-size: 16px;
    }
    /* end of tab8 style */

    /*

    END OF USER DATA PAGE

    */

    /*
    
    AUTHOR PROFILE PAGE
    
    */

    .author-slider .comment .stars{
        text-align: left;
    }

    .author-slider .comment .your-rate{
        text-align: left;
    }

    .author-slider .comment .col-sm-8 {
        margin-top: 0px;
    }

    /*

    END OF AUTHOR PROFIL PAGE

    */

    /*
    
    AUTHOR DATA PAGE
    
    */

    /* tab1 style*/
    .author-data #tab1 a.change-photo{
        top: 31%;
        left: -33%;
    }

    /* end of tab1 style */

    /* tab2 style*/

    .author-data #tab2 .modal-form .new-photo {
        top:60%;
        left: 16%;
    }

    .author-data #tab2 .modal-form form {
        margin-top: 0px;
    }

    .author-data #tab2 form .btn {
        bottom: -115px;
    }

    /* end of tab2 style */

    /* tab8 style*/

    .author-data #tab8 .favorit-book-wrapper h3{
        text-align: left;
    }

    .author-data #tab8 .favorit-book-wrapper .opis-wrapper {
        margin: 0;
    }

    .author-data #tab8 .top-rated{
        text-align: left;
    }

    .author-data #tab8 .top-rated img{
        margin: 0;
    }

    .author-data #tab8 .top-rated .ratio{

        margin: 0;
    }

    /*

    END OF AUTHOR DATA PAGE

    */

    /*
    
    PRODUCTS PAGE
    
    */

    .products .product-wrapper h1{
        margin-top: 0;
        text-align: left;
    }


    .products .product-wrapper .writter {
        text-align: left;    
    }

    .products .product-wrapper .writter a{
        display: inline-block;
        margin-right: 10px;
    }

    .products .wrapper-data article div:first-of-type{
        text-align: left;
    }

    .products .product-wrapper .publisher p,
    .products .product-wrapper .delivery p,
    .products .product-wrapper .format p{
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .products .user-profile-tab h2{
        font-size: 24px;
    }

    .products .comment h3{
        font-size: 24px;
    }

    .products .wrapper-data .price-wrapper{
        text-align: left;
    }

    .products .wrapper-data .price-wrapper ul li a{
        font-size: 12px
    }

    .products .wrapper-data .price-wrapper ul span{

        font-size: 10px;

    }

    /*

    END OF PRODUCTS PAGE PAGE

    */

    /*
    
    BEST SELLER PAGE
    
    */

    .best-seller .tab-content figure {
        position: relative;
        height: 245px;
    }

    /*

    END OF BEST SELLER PAGE

    */

    /*
    
    BLOG PAGE
    
    */


    .blog .blog-headline span {
        font-size: 20px;
    }

    .blog .blog-headline .bookmark {
        font-size: 14px;
    }

    .blog .blog-search h2{
        text-align: left;
    }

    .blog .blog-search .navbar-form{
        text-align: left;
        padding-left: 0;
    }

    .blog .blog-search .tags{
        text-align: left;
    }

    /*

    END OF BLOG PAGE

    */

    /*
    
    PUBLISHER PAGE
    
    */

    .publisher-page .publisher-wrapper h1{
        margin-top: 0;
    }

    .publisher-page .publisher-wrapper img{
        width: 100%;
    }

    .publisher-page .publisher-wrapper .clearfix:first-of-type p{
        width: 50%;
        float: left;
    }

    .publisher-page .publisher-wrapper .clearfix p{
        text-align: left;
    }

    .publisher-page .publisher-wrapper .clearfix:first-of-type p:last-of-type{
        text-align: right;
    }

    .publisher-page .publisher-wrapper .publisher-data p{
        text-align: left;
        font-size: 12px;
    }

    .publisher-page .publisher-wrapper .bookstore-adress{
        font-size: 10px;
    }

    .publisher-page .user-profile-tab h2 span{
        display: inline-block;
        margin-left: 20px;
    }

    /*

    END OF PUBLISHER PAGE

    */

    /*
    
    CART PAGE
    
    */


    .cart-page .nav-tabs a{
        font-size: 16px;   
    }

    .cart-page .product-price-cart{
        width: 35%;
        float: left;
        text-align: center;
        padding: 5px 0px;
    }

    .cart-page .product-quantity {
        width: 20%;
        float: left;
        text-align: center;
        padding: 5px 0px;
    }

    .cart-page .sum{
        width: 15%;
        float: left;
        text-align: center;
        padding: 5px 0px;

    }

    .cart-page .product-img {
        width: 20%;
        float: left;
        text-align: center;
    }

    .cart-page .product-wraper {
        width: 80%;
    }

    /*

    END OF CART PAGE

    */

    /*
    
    BOOK CLUB PAGE
    
    */

    .book-club-tabs{
        padding: 20px 0;
    }

    .book-club-tabs .tab-pane .col-sm-6:first-of-type{
        border-right: 2px dotted #eaead2;

    }

    /*

    END OF BOOK CLUB PAGE

    */

    /*
    
    PUBLISH BOOK PAGE
    
    */

    .publish-book .small-wrapper{
       float: right;
       margin-right: 40px;
    }








}



@media(min-width:992px){

    /* HEADER*/

    .navbar-brand{
        display: none;
    }
    ul.dropdown-menu{
        position: absolute;
        top:100%;
        width:250px;
        max-width: 400px;
        left: 0;
    }
    ul.nav .dropdown:hover > ul.dropdown-menu {
        display: block !important;
    }
    #navbar {
        text-align: center;
    }

    .navbar-default {
        border: none;
        background-color: #fff;
    }

    .nav-justified {
        float: none;
        margin: 0 auto;
        text-align: center;
        border-top: 1px solid #f4f2e6;
        border-bottom: 1px solid #f4f2e6;
    }
    .nav-justified > li  {
        vertical-align: middle;
    }
    .nav-justified > li > a {
        font-size: 13px;

    }

    .navbar-default .nav-justified > .open > a:focus {
        color: #e87218;
        background-color: #f5f1e8;
    }

    .nav-justified > li > .dropdown-menu {
        text-align: left;
        padding: 20px;
        background-color: #f5f1e8;
        border-color: #f5f1e8;
        box-shadow: none;
        transition: 1s ease;
        border-radius: 0;
        z-index: 99999;
    }

    .nav-justified > li > .dropdown-menu li{
        background-color: #fff;
    }

    .dropdown-menu .clearfix {
        border: 1px solid #eaead2;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: #f5f1e8;
        background-color: #fff;
    }

    ul.dropdown-menu {
        width: 350px;
    }

    /* END OF HEADER*/

    /* SECTION MAIN SLIDER*/

    .book-content .favorit{
        margin-right: 15px;
    }

    .book-for-sale,
    .create-an-account{
        padding: 15px;
    }

    .book-for-sale p{
        font-size: 14px;
    }


    .book-for-sale a{
        font-size: 18px;
    }

    .book-of-month h4,
    .author-of-month h4{
        font-size: 18px;
    }
    /* END OF SECTION MAIN SLIDER*/

    /* SECTION NEWSLETTER*/

    .newsletter .col-sm-8 article{
        padding: 25px 0px 25px 25px;
    }
    .newsletter .col-sm-8 h3{
        width: 40%;
        float: left;
        margin: 15px 0;
        line-height: 34px;
    }

    .newsletter .col-sm-8 form{
        width: 60%;
        float: right;
    }
    /* END OF SECTION NEWSLETTER*/

    /*

     END OF INDEX PAGE

    */

    /*
    
    SIGN IN PAGE
    
    */

    main{
        min-height: 675px;
    }

    .sign-in-page article{
        width: 80%;
        margin: 0 auto;
    }

    .sign-in-page label{
        width: 30%;
    }

    .sign-in-page input{
        width: 70%;
    }

    .sign-in a{
        margin-left: 30%;
    }

    .new-password p{
        font-size: 12px;
    }

    .sign-in-form .btn{
        margin-left: 30%;
    }

    .new-password-form .btn{
        margin-left:  30%;
    }
    /*

    END OF SIGN IN PAGE

    */

    /*
    
    USER PROFILE PAGE
    
    */

    .user-slider .bx-wrapper .bx-prev {
        right: 55px;
    }

    .user-slider .bx-wrapper .bx-next {
        right: 15px;
    }

    .favorit-author, 
    .favorit-book {
        margin-top:30px;
    }

    .favorit-author h4,
    .favorit-book h4{
        font-size:14px;
    }
    /*

    END OF USER PROFILE PAGE

    */

    /*
    
    USER DATA PAGE
    
    */

    /* tab1 style */

    .user-data #tab1 select.birthday{
        font-size: 14px;
        width: 32%;

    }

    .user-data #tab1 a.change-photo{
        top: 60%;
    }
    /* end of tab1 style */

    /* tab2 style */

    .user-data #tab2 .opis figure,
    .user-data #tab4 .opis figure,
    .user-data #tab5 .bottom-carousel .opis figure{
        height: 207px;
    }

    /* end of tab2 style */

    /* tab3 style */
    .messages .media-body .checkbox-media{

        left: 49%;
    }

    .messages .media-body .user-replay .checkbox-media{
        left: 48.5%;
    }

    /* end of tab3 style */

    /* tab5 style */

    .user-data #tab5 .opis-wrapper figure{
        height: 150px;
    }

    .user-data #tab5 .opis-wrapper .description-wrapper {

        padding-left: 20px;
    }

    .user-data #tab5 .top-carousel .opis figure{
        height: 111px;
    }

    .user-data #tab5 .top-carousel .opis .stock{
        font-size: 10px;
    }

    .user-data #tab5 .top-carousel .opis .fa-check-circle {
        margin-right: 3px;
        font-size: 8px;
    }

    /* end of tab5 style */

    /* tab6 style */

    .user-data #tab6 h2{
        font-size: 25px;
    }

    /* end of tab6 style */

    /* tab7 style */

    .user-data #tab7 h2{
        font-size: 30px;
    }

    /* end of tab7 style */

    /* tab8 style */

    .user-data #tab8 h2{
        font-size: 25px;
    }

    .user-data #tab8 .instructions p{
        font-size: 14px;
    }
    /* end of tab8 style */

    /* tab9 style */

    .user-data #tab9 h3{
        font-size: 25px;
    }

    .user-data #tab9 .modal-social p{
        font-size: 14px;
    }

    .user-data #tab9 .modal-social a:first-of-type{
        margin-right: 30px;
    }

    .user-data #tab9 .modal-social a span{
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        margin-right: 15px;
    }

    /*

    END OF USER DATA PAGE

    */

    /*
    
    AUTHOR PROFILE PAGE
    
    */

    .author-slider .author-info .author-list{
        margin-top: 10px;
        text-align: left;
    }

    .author-slider .author-info h1{
        text-align: left;
        margin-top: 0;
    }

    .author-slider .author-info h1 span{
        text-align: left;
    }

    .author-slider .author-info h3{
        margin-top: 0;
    }

    .author-slider .comment textarea{
        width: 75%;
        float: left;
        height: 180px;
    }

    .author-slider .comment form button{
        width: 20%;
        float: right;
        margin-top: 123px;
    }

    /*

    END OF AUTHOR PROFIL PAGE

    */

    /*
    
    AUTHOR DATA PAGE
    
    */


    /* tab1 style */
    .author-data #tab1 a.change-photo{
        top: 49%;
    }

    /* end of tab1 style */

    /* tab8 style */

    .author-data #tab8 .statistics{
        width: 85%;
        float: left;
    }

    .author-data #tab8 .year{
        width: 15%;
        float: right;
        text-align: center;
        position: relative;
        bottom: -180px;
    }

    .author-data #tab8 .favorit-book-wrapper .description-wrapper{
        margin-top: 30px;
    }

    .author-data #tab8 .favorit-book-wrapper .opis-wrapper {
        height: 235px;
    }

    .author-data #tab8 .favorit-book-wrapper .opis-wrapper img{
        height: 215px;
    }

    .author-data #tab8 .col-md-3{
        border-left: 1px dotted #ece5d5;
    }

    /* end of tab8 style */

    /*
   
    END OF AUTHOR DATA PAGE
   
    */

    /*
   
    PRODUCTS PAGE
   
    */


    .products .product-wrapper .delivery p{
        width: 50%;
        float: left;
    }

    .products .product-wrapper .delivery p:last-of-type{
        text-align: right;
    }

    .products .product-wrapper .format p{
        width: 33%;
        float: left;
        text-align: center;
    }

    .products .product-wrapper .format p:first-of-type{
        text-align: left;
    }

    .products .product-wrapper .format p:first-of-type span{
        font-size: 12px;
    }

    .products .product-wrapper .format p:last-of-type{
        text-align: right;
    }

    .products .wrapper-data .price-wrapper ul li a{
        font-size: 14px
    }

    .products .wrapper-data .price-wrapper ul span{
        font-size: 20px;
    }

    /*

    END OF PRODUCTS PAGE PAGE

    */

    /*
    
    BEST SELLER PAGE
    
    */

    .best-seller .tab-content figure {
        position: relative;
        height: 190px;
    }

    /*

    END OF SELLER PAGE

    */

    /*
    
    PUBLISHER PAGE
    
    */
    .publisher-page .publisher-wrapper .clearfix .publisher-rating{
        display: inline-block;
    }

    .publisher-page .publisher-wrapper .bookstore-adress{
        font-size: 14px;
    }

    /*

    END OF PUBLISHER PAGE

    */

    /*
    
    CART PAGE
    
    */


    .cart-page .nav-tabs a{
        font-size: 20px;   
    }









}

@media(min-width:1200px){

    /*HEADER*/

    .nav-justified > li > a {
        font-size: 16px;
    }
    ul.dropdown-menu {
        width: 400px;
    }

    /* END OF HEADER*/

    /* SECTION MAIN SLIDER*/

    .book-for-sale a{
        font-size: 22px;
    }

    /* END OF SECTION MAIN SLIDER*/

    /*

     END OF INDEX PAGE

    */

    /*
    
    SIGN IN PAGE
    
    */

    .sign-in-page label {
        font-size: 14px;
    }

    .sign-in a{
        font-size: 14px;
    }

    .new-password p{
        font-size: 14px;
    }

    .new-password p{
        font-size: 14px;
    }
    /*

    END OF SIGN IN PAGE

    */

    /*
    
    USER PROFILE PAGE
    
    */
    .favorit-author h4,
    .favorit-book h4{
        font-size:16px;
    }

    .favorit-book .underline {
        top: 23%;
    }
    /*

   END OF USER PROFILE PAGE

    */

    /*
    
    USER DATA PAGE
    
    */

    /* tab1 style */

    .user-data #tab1 label{
        display: inline-block;
        width: 30%;
        float: left;
        text-align: left;
        line-height: 28px;
    }

    .user-data #tab1 label.reading{
        width: 100%;
    }

    .user-data #tab1 input{
        width: 70%;
        float: right;
    }

    .user-data #tab1 select.birthday{
        width: 22.3%;
    }

    .user-data #tab1 .change-password{
        margin-bottom: 34px;
    }

    .user-data #tab1 a.change-photo{
        top: 65%;
        left: -30%;

    }

    .user-data #tab1 select.city{
        width: 70%;
        float: right;
    }

    /* end of tab1 style */

    /* tab3 style */
    .messages .media-body .user-replay .checkbox-media{
        left: 49%;
    }

    /* end of tab3 style */

    /* tab5 style */

    .user-data #tab5 .opis-wrapper figure{
        height: 190px;
    }

    .user-data #tab5 .description-wrapper h4{
        margin-top: 0;
        font-size: 20px;
        margin-bottom: 0px;
    }

    .user-data #tab5 .description-wrapper .opis-author{
        font-size: 14px;
    }

    .user-data #tab5 .description-wrapper .stock-favorite{
        font-size: 14px;
    }

    .user-data #tab5 .description-wrapper .fa-check-circle{
        font-size: 14px;
        margin-right: 5px;
    }

    .user-data #tab5 .description-wrapper .product-price{
        height: 35px;
    }

    .user-data #tab5 .description-wrapper .price{
        font-size: 20px;
    }

    .user-data #tab5 .description-wrapper .price span{
        font-size: 16px;
    }

    .user-data #tab5 .description-wrapper .link a{
        width: 30px;
        height: 30px;
        font-size: 17px;
        line-height: 30px;
    }

    .user-data #tab5 .description-wrapper .link .trash{
        font-size: 22px;
    }

    .user-data #tab5 .top-carousel .opis .stock{
        font-size: 10px;
    }

    .user-data #tab5 .top-carousel .opis .fa-check-circle {
        margin-right: 3px;
        font-size: 10px;
    }

    /* end of tab7 style */

    /* tab8 style */

    .user-data #tab8 h2{
        font-size: 27px;
    }

    .user-data #tab8 .instructions p{
        font-size: 16px;
    }
    /* end of tab8 style */

    /*

    END OF USER DATA PAGE

    */

    /*
    
    AUTHOR DATA PAGE
    
    */

    /* tab1 style */
    .author-data #tab1 a.change-photo{
        top: 51%;
        left: -20%;

    }

    /* end of tab1 style */

    /* tab8 style */

    .author-data #tab8 .year{
        bottom: -240px;
    }

    .author-data #tab8 .favorit-book-wrapper .opis-wrapper {
        max-width: 100%;
    }

    /* end of tab8 style */

    /*
   
    END OF AUTHOR DATA PAGE
   
    */

    /*
   
    PRODUCTS PAGE
   
    */

    .products .product-wrapper .book-description{
        margin-top: 55px;
    }

    /*

    END OF PRODUCTS PAGE

    */

    /*
    
    BLOG PAGE
    
    */

    .blog .blog-headline h1{
        font-size: 30px;
    }

    /*

    END OF BLOG PAGE

    */

    /*
    
    PUBLISHER PAGE
    
    */

    .publisher-page .publisher-wrapper .publisher-data p{
        font-size: 14px;
    }



}