/*

 
    font-family: 'Playfair Display', serif;

    font-family: 'Roboto', sans-serif;


*/



a:focus{
    outline: none;
}

.btn:focus{
    outline: none;
}

.navbar-default {
    background-color: #fff;
    border-color: #d7caa8;
    border-top: 1px solid #d7caa8;

}

.navbar-brand{
    height: auto;
}

.navbar-default .navbar-toggle {
    border: 1px solid #d7caa8;
    background-image: none;
    border-radius: 0px;
    transition: 1s ease;
    margin-top: 30px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #d7caa8;
    transition: 1s ease;
}

.navbar-default .navbar-toggle:hover .icon-bar, 
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #d7caa8;
}

.fa-home{
    color: #d7caa8;
    font-size: 20px;
}

.dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    float: none;
    width: 100%;
    padding: 25px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #f5f1e8;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #f5f1e8;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: none;
}

.dropdown-menu .clearfix{
    background-color: #fff;
    border: 1px solid #eaead2;
}

.dropdown-menu .list-options{
    width: 50%;
    float: left;
    padding: 10px;
    text-align: left;
}

.dropdown-menu .list-options a{
    color: #777;
    transition: 1s ease;
    font-family: 'Roboto', sans-serif;
}

.dropdown-menu .list-options a:hover,
.dropdown-menu .list-options a:focus{
    color: #e87218;
    text-decoration: none;
}

.dropdown-menu .list-img{
    width: 50%;
    float: right;
    padding: 15px 5px;
}

.dropdown-menu .list-img li{
    text-align: center;
}

.dropdown-menu .list-img img{
    margin: 0 auto;
    width: 70%;
}

.dropdown-menu .list-img h3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.dropdown-menu .list-img a{
    color: #33a0bd;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    min-height: 0px;
    margin-bottom: 0;
    border-radius: 0;
}

.nav-justified > li > a {
    text-align: center;
    transition: 1s ease;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 16px;
    padding: 10px 0;
    color: #363636;
    height: auto;
    margin: 0;
}

.navbar-default .nav-justified > li > a:hover, 
.navbar-default .nav-justified > li > a:focus{
    color: #e87218;
    background-color: #f5f1e8;
}


.nav-blog{
    background-color: #f4f2e6;
}

.nav-blog a{
    text-transform: uppercase;
}

.nav-justified .social{
    text-align: center;
    position: relative;
    padding: 10px 0;
}

.nav-justified .social-list{
    list-style: none;
    padding: 0;
}

.nav-justified .social-list li{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;

}

.nav-justified .social-list li a{
    display: inline-block;
    color: #fff;
    background-color:#d7caa8;
    width: 20px;
    height: 20px;
    border: 1px solid #d7caa8;
    border-radius: 50%;
    transition: 1s ease;
}

.nav-justified .social-list li a:hover{
    background-color: #f5f1e8;
    border: 1px solid #f5f1e8;
}

.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    border-color: transparent;
    padding: 0;
}





/* END OF NAV SECTION */

/* MAIN SLIDER SECTION */

.main-slider{
    padding: 50px 0;
}

.bxslider li{
    padding: 0 50px;
    /*    background: #fff;
        background: -webkit-linear-gradient(#fff, #d7caa8); 
        background: -o-linear-gradient(#fff, #d7caa8);
        background: -moz-linear-gradient(#fff, #d7caa8); 
        background: linear-gradient(#fff, #d7caa8); */
}

.bxslider img{
    margin: 0 auto;
}

.book-content{
    text-align: center;
}

.book-content h3{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.book-content h3 span{
    display: block;

}

.book-content h3 span a{
    color: #33a0bd;
}


.book-content .about-book{
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.price{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.price span{
    font-size: 18px;
}

.book-content .btn{
    margin-bottom: 15px;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
}

.book-content .favorit{
    border-color: #d7caa8;
    color: #d7caa8;
    transition: 1s ease;
}

.book-content .favorit:hover,
.book-content .favorit:focus{
    background-color: #d7caa8; 
    color: #fff;
}

.book-content .cart{
    background-color:#e87217;
    border-color: #e87217;
    color: #fff;
    transition: 1s ease;
}

.book-content .cart:hover,
.book-content .cart:focus{
    background-color:#f48b39;
    border-color: #f48b39;
}


.book-for-sale,
.create-an-account{
    text-align: center;
    color: #fff;
    background-color: #e87217;
    padding: 15px;
    margin-bottom: 20px;
}

.book-for-sale{
    margin-top: 50px;
}

.book-for-sale p,
.create-an-account p{
    font-family: 'Roboto', sans-serif;
}

.book-for-sale a,
.create-an-account a{
    color: #fff;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.author-of-month,
.book-of-month{
    max-width: 335px;
    margin: 0 auto 20px;
    position: relative;
}

.author-of-month h4,
.book-of-month h4{
    font-family: 'Playfair Display', serif;
}

.author-of-month a,
.book-of-month a{
    color: #e87217;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.author-of-month p,
.book-of-month p{
    font-family: 'Roboto', sans-serif;
}

.book-of-month div,
.author-of-month div{
    width: 60%;
    float: left;
}

.book-of-month figure,
.author-of-month figure{
    width: 40%;
    float: right;
}

.author-of-month img{
    border-radius: 50%;
}

.underline{
    background: url('assets/underline.jpg') repeat center center;
    height: 5px;
}

.book-of-month h4,
.author-of-month h4{
    position: relative;
}
.book-of-month h4:after,
.author-of-month h4:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 150%;
    height: 5px;
    background:url('assets/underline.jpg') repeat-x;
    z-index: -1;
}
/*END OF MAINSLIDER SECTION*/

/*SECTION TABS*/

.tabs .nav-tabs{
    border-bottom: none;
}

.tabs .nav-tabs h2 {
    font-family: 'Playfair Display', serif;
}

.tabs .nav-tabs li{
    font-size: 11px;

}

.tabs .nav-tabs > li > a {
    border-radius: 0;
    padding: 10px 2px;
    margin: 0;
    color: #d7caa8; 
    font-family: 'Roboto', sans-serif;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
    background-color: transparent;
}

.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    background-color: #fff;
    border: none;

}

.nav-tabs > li.active > a{
    background-color: #fff;
    border: none;
    color: #000;
}

.tab-content {
    margin: 20px 0;
}

.tab-content figure{
    position: relative;
    height: 410px;

}

.tab-content figure .discount-banner,
.tab-content figure .new-banner{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    text-align: center;
    border-bottom: none;
    background-color: #fedb03;
    border: 1px solid #fff;
    transform: rotate(-40deg);
    transform-origin: 80px 170px;
    height: 20%;
    width: 300px;
}

.tab-content figure .discount-banner span,
.tab-content figure .new-banner span{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(-18%,-50%);
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.tab-content figure .new-banner{
    background-color: #e87218;
}

.tab-content figure .new-banner span{
    color: #fff;
}

.opis{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.opis .opis-author{
    color: #33a0bd;
}

.opis .fa-check-circle{
    color: #d7caa8; 
    margin-right: 5px;
    font-size: 16px;
}

.opis .link a{
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #d7caa8; 
    color: #d7caa8;
    line-height: 30px;
    text-align: center;
    transition: 1s ease;
}

.opis .link a:last-of-type{
    margin-right: 0;
    border: 1px solid #e87217;
    background-color: #e87217;
    color: #fff;
}

.opis .link a:hover{
    color: #fff;
    background-color: #d7caa8;
}

.opis .link a:last-of-type:hover{
    background-color:#f48b39;
    border: 1px solid #f48b39;
}

.product-price{
    height: 45px;
    margin: 10px 0;
    position: relative;
}

.product-price .price{
    line-height: 25px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.product-price .old-price{
    line-height: 20px;
    margin: 0;
    text-decoration: line-through;
    color: #acacac;
}



.product-price .old-price ~ .price{
    color: #b40d27;
    font-size: 25px;
}

/*END OF SECTION TABS*/

/*SECTION NEWSLETTER*/

.newsletter{
    padding: 30px 0;
}

.newsletter .col-sm-4 article{
    text-align: center;
}

.newsletter .col-sm-4 h3{
    margin-top: 10px;
    font-family: 'Playfair Display', serif;
}

.newsletter .col-sm-4 article p:first-of-type{
    margin-top: 5px;
}

.newsletter .col-sm-4 a{
    color: #e87217;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.newsletter .col-sm-8{
    background-color: #f5f1e8;
}

.newsletter .col-sm-8 article{
    text-align: center; 
}

.newsletter .col-sm-8 h3{
    margin-top: 10px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.newsletter .col-sm-8 form{
    margin: 15px 0;
}

.newsletter .col-sm-8 .form-control {
    border: 1px solid #d7caa8; 
    border-radius: 0px;
    box-shadow: none;

}

.newsletter .col-sm-8 .btn {
    border: 1px solid #e87217;
    background-color: #e87217;
    border-radius: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.newsletter .col-sm-8 .btn:focus{
    outline: none;
}

/*END OF SECTION NEWSLETTER*/

/*FOOTER*/

footer{
    background-color: #333333;
    padding: 30px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer h4{
    color: #666666;
}

footer p{
    color: #666666;
    font-size: 10px;
}

footer a{
    color: #ababab;
    transition: 1s ease;
}

footer a:hover,
footer a:focus{
    color: #ababab;
    outline: none;
}

footer .fb-like{
    margin: 10px 0;
}

/*END OF FOOTER*/

/*

END OF INDEX PAGE

*/

/*

SIGN IN PAGE

*/

.sign-in-page{
    padding: 50px 0;
}

.sign-in-page article {
    position: relative;
    margin: 20px 0;
}

.sign-in-page .new-password{
    display: none;
}

.sign-in-page h2{
    font-size: 24px;
    font-family: 'Playfair Display', serif;

}

.sign-in-page label{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #a8a8a8;
    font-weight: 400;
    width: 40%;
    float: left;
    line-height: 24px;
}

.sign-in-page input{
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 400;
    width: 100%;
    float: right;
    border: 1px solid #eaead2;
}

.sign-in-page .btn {
    border: 1px solid #e87218;
    border-radius: 0px;
    background-color: #e87218;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    transition: 1s ease;
}

.sign-in-page .btn:hover{
    border: 1px solid #f48b39;
    background-color: #f48b39;
}

.sign-in-form .btn{
    margin-left: 40%;
}

.new-password-form .btn{
    margin-left:  30%;
}

.sign-in a{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #e87218;
    font-weight: 400;
    display: block;
    margin-left: 40%;
    margin-bottom: 10px; 
}

.new-password p{
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
}

.sign-in-form,
.new-password-form{
    background-color: #f5f1e8;
    padding: 20px;
}

.sign-in-form form,
.new-password-form form{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #eaead2;
}


.create-an-account p{
    font-size: 16px;
}

.create-an-account a{
    font-size: 30px;
}

.hidden-form{
    visibility: hidden;
}

.create-an-account{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.create-an-account-form h2{
    margin-bottom: 30px;
}
/*

END OF SIGN IN PAGE

*/

/*

USER PROFILE PAGE

*/

/* breadcrumb style */

.breadcrumb-section .container{
    padding: 20px 15px;
}

#breadcrumb{
    margin-left: 15px;
}

#breadcrumb li{
    float: left;
    position: relative;
    margin-right: 17px;
    margin-bottom: 5px;
    padding: 0;
}

#breadcrumb li a{
    display: block;
    background: #f4f2e6;
    color: #000;
    padding: 0 3px;
    height: 30px;
    line-height: 30px;
    font-size: 8px;
    text-transform: uppercase;
    color: #b4b1ac;
}

#breadcrumb li.active a{
    cursor: text;
    color: #6c6867;
}

#breadcrumb li:after{
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
    border-left:15px solid #f4f2e6;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}

#breadcrumb li:before{
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #f4f2e6;
    border-top: 15px solid #f4f2e6;
}
#breadcrumb li:first-of-type:before{
    display: none;
}

/* end of breadcrumb style */

.user-slider{
    padding: 0;
}

.user-wrapper{
    margin-top: 20px;
}

.user-slider .user-image{
    max-width: 200px;
    max-height: 285px;
}

.user-slider .about-user{
    text-align: center;
}

.about-user h1{
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.about-user p{
    font-family: 'Roboto', sans-serif;
    color: #aaaaaa;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
    border-bottom: 1px dotted #eaead2;
    font-size: 12px;
}

.about-user p span{
    color: #000;
}

.about-user a{
    display: block;
    color: #e87218;
}

.favorit-author,
.favorit-book{
    margin-top: 30px;
}

.favorit-author h4,
.favorit-book h4{
    font-size: 16px;
}

.favorit-book .underline {
    top: 28%;
}

.user-profile-tab h2{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}



.user-slider .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 0px;
    margin-top: 0px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;}
 
.user-slider .bx-wrapper .bx-prev {
    left:auto;
    background: url('assets/arrow-left-color1.png') no-repeat 0 0;
    right: 50px;
}

.user-slider .bx-wrapper .bx-next {
    left:auto;
    background: url('assets/arrow-right-color1.png') no-repeat 0 0;
    right: 10px;
}

.user-slider .bx-wrapper .bx-next:hover,
.user-slider .bx-wrapper .bx-next:focus {
  background: url('assets/arrow-right-color2.png') no-repeat center center;
  width: 33px;
}

.user-slider .bx-wrapper .bx-prev:hover,
.user-slider .bx-wrapper .bx-prev:focus {
  background: url('assets/arrow-left-color2.png') no-repeat center center;
  width: 33px;
}

.user-slider .bx-wrapper .bx-pager {
    display: none;
}

.user-slider .bxslider li{
    padding: 0px;
    /*    background: #fff;
        background: -webkit-linear-gradient(#fff, #d7caa8); 
        background: -o-linear-gradient(#fff, #d7caa8);
        background: -moz-linear-gradient(#fff, #d7caa8); 
        background: linear-gradient(#fff, #d7caa8); */
}


.bx-viewport{
    height: 100% !important;
}
