@font-face{
    src: url('css/fonts/slick.eot');
}


a:focus{
    outline: none;
}
.navbar-default {
    background-color: #fff;
    border-color: #d7caa8;
    border-top: 1px solid #d7caa8;

}

.navbar-brand{
    height: auto;
}

.navbar-default .navbar-toggle {
    border: 1px solid #d7caa8;
    background-image: none;
    border-radius: 0px;
    transition: 1s ease;
    margin-top: 30px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #d7caa8;
    transition: 1s ease;
}

.navbar-default .navbar-toggle:hover .icon-bar, 
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #d7caa8;
}

.fa-home{
    color: #d7caa8;
    font-size: 18px;
}

.dropdown-menu{
    text-align: center;
}

.navbar {
    min-height: 0px;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav > li > a {
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #d7caa8;
}


.nav-blog{
    background-color: #d7caa8;
}

.nav-blog a:hover{
    color: #fff !important;
}

.navbar-nav .social{
    text-align: center;
    position: relative;
    padding: 10px 0;
}

.navbar-nav .social-list{
    list-style: none;
    padding: 0;
}

.navbar-nav .social-list li{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;

}

.navbar-nav .social-list li a{
    display: inline-block;
    color: #fff;
    background-color:#d7caa8;
    width: 20px;
    height: 20px;
    border: 1px solid #d7caa8;
    border-radius: 50%;
    transition: 1s ease;
}

.navbar-nav .social-list li a:hover{
    background-color: #ebdebb;
    border: 1px solid #ebdebb;
}





/* END OF NAV SECTION */

/* MAIN SLIDER SECTION */

.main-slider{
    padding: 50px 0;
}

.bxslider li{
    padding: 0 50px;
}

.bxslider img{
    margin: 0 auto;
}

.book-content{
    text-align: center;
}

.book-content h3 span{
    display: block;

}

.book-content .about-book{
    text-align: left;
}

.price{
    font-size: 25px;
}

.price span{
    font-size: 18px;
}

.book-content .btn{
    margin-bottom: 15px;
    border-radius: 0;
}

.book-content .favorit{
    border-color: #d7caa8;
    color: #d7caa8;
    transition: 1s ease;
}

.book-content .favorit:hover,
.book-content .favorit:focus{
    background-color: #d7caa8; 
    color: #fff;
}

.book-content .cart{
    background-color:#e87217;
    border-color: #e87217;
    color: #fff;
    transition: 1s ease;
}

.book-content .cart:hover,
.book-content .cart:focus{
    background-color:#f48b39;
    border-color: #f48b39;
}


.book-for-sale{
    text-align: center;
    color: #fff;
    background-color: #e87217;
    padding: 15px;
}

.book-for-sale a{
    color: #fff;
    font-size: 25px;
}

.author-of-month a,
.book-of-month a{
    color: #e87217;
}

.book-of-month div{
    width: 60%;
    float: left;
}

.book-of-month figure{
    width: 40%;
    float: right;
}
/*END OF MAINSLIDER SECTION*/

/*SECTION TABS*/

.tabs{
    padding:  50px 0;
    margin-top: 70px;
    
}

.tabs .nav-tabs{
    border-bottom: none;
}

.tabs .nav-tabs li{
    font-size: 11px;
    
}

.tabs .nav-tabs > li > a {
    border-radius: 0;
    padding: 10px 2px;
    margin: 0;
    color: #d7caa8; 
}

.nav-tabs > li > a:hover {
    border-color: transparent;
    background-color: transparent;
}

.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    background-color: #fff;
    border: none;

}

.nav-tabs > li.active > a{
    background-color: #fff;
    border: none;
    color: #000;
}

.tab-content {
    margin: 20px 0;
}

.opis .fa-check-circle{
    color: #d7caa8; 
    margin-right: 5px;
    font-size: 16px;
}

.opis .link a{
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #d7caa8; 
    color: #d7caa8;
    line-height: 30px;
    text-align: center;
    transition: 1s ease;
}

.opis .link a:last-of-type{
    margin-right: 0;
    border: 1px solid #e87217;
    background-color: #e87217;
    color: #fff;
}

.opis .link a:hover{
    color: #fff;
    background-color: #d7caa8;
}

.opis .link a:last-of-type:hover{
     background-color:#f48b39;
     border: 1px solid #f48b39;
}





